
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="/" target="_self">
        <strong>OLHO NO DUTO</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login" target="_self">Entrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registrar" target="_self">Cadastro</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/reportar" target="_self">Reportar Ocorrência</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/sobre" target="_self">Sobre</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/mapa" target="_self">Mapa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/termos" target="_self">Termos de Uso</a>
          </li>

        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="https://www.facebook.com/olhaofurto" class="nav-link" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/olhaofurto" class="nav-link" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/olhaoduto" class="nav-link border border-light rounded"
              target="_blank">
              <i class="fab fa-github mr-2"></i>GitHub
            </a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->

