<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}




<body>
{% include "navbar.html" %}




  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">
        <div style="height:200px"></div>
<!-- Material form register -->
<div class="card">

  <h5 class="card-header warning-color white-text text-center py-4">
      <strong>Registrar</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

      <!-- Form -->
      <form class="text-center" style="color: #757575;" action="#!">

          <div class="form-row">
              <div class="col">
                  <!-- First name -->
                  <div class="md-form">
                      <input type="text" id="materialRegisterFormFirstName" class="form-control">
                      <label for="materialRegisterFormFirstName">Nome</label>
                  </div>
              </div>
              <!--div class="col">
                  <div class="md-form">
                      <input type="email" id="materialRegisterFormLastName" class="form-control">
                      <label for="materialRegisterFormLastName">Last name</label>
                  </div>
              </div-->
          </div>

          <!-- E-mail -->
          <div class="md-form mt-0">
              <input type="email" id="materialRegisterFormEmail" class="form-control">
              <label for="materialRegisterFormEmail">E-mail</label>
          </div>

          <!-- Password -->
          <div class="md-form">
              <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
              <label for="materialRegisterFormPassword">Senha</label>
              <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                  Ao menos 8 characteres e 1 digito
              </small>
          </div>

          <!-- Phone number -->
          <div class="md-form">
              <input type="password" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock">
              <label for="materialRegisterFormPhone">Telefone</label>

          </div>

          <!-- Newsletter -->
          <div class="form-check">
              <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
              <label class="form-check-label" for="materialRegisterFormNewsletter">Aceita receber contato por whatsapp</label>
          </div>

          <!-- Sign up button -->
          <button class="btn btn-warning btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Registrar</button>

          <!-- Social register -->
          <p>ou entre com:</p>

          <a type="button" class="btn-floating btn-fb btn-sm">
              <i class="fab fa-facebook-f"></i>
          </a>
          <a type="button" class="btn-floating btn-tw btn-sm">
              <i class="fab fa-twitter"></i>
          </a>
          <a type="button" class="btn-floating btn-li btn-sm">
              <i class="fab fa-linkedin-in"></i>
          </a>
          <a type="button" class="btn-floating btn-git btn-sm">
              <i class="fab fa-github"></i>
          </a>

          <hr>

          <!-- Terms of service -->
          <p>Clicando em
              <em>Entrar</em> você concordar com nossos 
              <a href="" target="_blank">termos de serviço</a>

      </form>
      <!-- Form -->

  </div>

</div>
<!-- Material form register -->
      </section>
      <!--Section: Main info-->

    </div>
  </main>
  <!--Main layout-->

{% include "footer.html" %}


</body>

</html>
