<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}




<body>
{% include "navbar.html" %}




  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">
        <div style="height:200px"></div>
<!-- Material form register -->
<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
      <strong>Reportar uma Ocorrência</strong>
  </h5>

Aqui nós damos algumas instruções de como reportar. Detalhes de como fazer uma denúncia mais completa, como se proteger, não deixar que o bandido te veja tirando foto, etc..

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">
<!-- Material form contact -->
<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
      <strong>Ocorrência</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

      <!-- Form -->
      <form class="text-center" style="color: #757575;" action="#!">

          <!-- Name 
          <div class="md-form mt-3">
              <input type="text" id="materialContactFormName" class="form-control">
              <label for="materialContactFormName">Nome</label>
          </div>

          <!-- E-mail 
          <div class="md-form">
              <input type="email" id="materialContactFormEmail" class="form-control">
              <label for="materialContactFormEmail">e-mail</label>
          </div> -->

          <!-- Subject -->
          <span>Tipo de Denúncia</span>
          <select class="mdb-select">
              <option value="" disabled>Escolha as Opções</option>
              <option value="1" selected>Furto/Vazamento de Combustível</option>
              <option value="2">Furto/Vazamento de Água</option>
              <option value="3">Furto de Cabos de Energia ou Gato</option>
              <option value="4">Furto de Carros</option>
              <option value="5">Vandalismo de Mobiliário Ubrbano</option>
              <option value="6">Roubo de Cargas</option>
              <option value="0">Outros</option>
          </select>



          <!--Message-->
          <div class="md-form">
              <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
              <label for="materialContactFormMessage">Menssagem</label>
          </div>

          <!-- Copy -->
          <div class="form-check">
              <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
              <label class="form-check-label" for="materialContactFormCopy">Envie-me uma cópia desta denúncia para meu e-mail</label>
          </div>

          <!-- Send button -->
          <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Enviar</button>

      </form>
      <!-- Form -->

  </div>

</div>
<!-- Material form contact -->

  </div>

</div>
<!-- Material form register -->
      </section>
      <!--Section: Main info-->

    </div>
  </main>
  <!--Main layout-->

{% include "footer.html" %}



</body>
</html>
