    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

      <a class="logo-wrapper waves-effect">
        <img src="static/img/logo.png" class="img-fluid" alt="">
      </a>

      <div class="list-group list-group-flush">
        <a href="dashboard" class="list-group-item active waves-effect">
          <i class="fas fa-chart-pie mr-3"></i>Dashboard
        </a>
        <a href="dashboard-criticas" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-map mr-3"></i>Áreas Críticas</a>

        <!--a href="dashboard-postos" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-map mr-3"></i>Postos de Gasolina</a-->

        <a href="dashboard-crescimento" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-map mr-3"></i>Crescimento</a>

        <a href="dashboard-unidades-policias" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-map mr-3"></i>Unidades policias</a>

        <a href="dashboard-milicias" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-map mr-3"></i>Milicias</a>
    </div>
    </div>
    <!-- Sidebar -->