<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}




<body>
{% include "navbar.html" %}


  <!--Main layout-->
  <main class="mt-5 pt-5">

    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">
<!-- Material form register -->

<!--img style="max-width:400px;align:middle" src="static/img/sobre.png"-->


<div class="card">

  <h5 class="card-header warning-color white-text text-center py-4">
      <strong>Sobre</strong>
  </h5>


  <img src="static/img/sobre.jpeg">


</div>
<!-- Material form register -->
      </section>
      <!--Section: Main info-->

    </div>
  </main>
  <!--Main layout-->


{% include "footer.html" %}



</body>

</html>
