<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}




<body>
{% include "navbar.html" %}


  <!--Main layout-->
  <main class="mt-5 pt-5">

    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">
<!-- Material form register -->

<img style="max-width:400px;align:middle" src="static/img/sobre.png">


<div class="card">

  <h5 class="card-header warning-color white-text text-center py-4">
      <strong>Sobre</strong>
  </h5>


  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">



<p>Este aplicativo chegou pra te ajudar a cuidar da sua comunidade, da sua rua e do seu bairro. Descubra como participar de tarefas, atividades, cursos e eventos junto com a sua turma e ganhar pontos!

<p>Monte a sua equipe e vem com a gente cuidar do seu cantinho!


  </div>

</div>
<!-- Material form register -->
      </section>
      <!--Section: Main info-->

    </div>
  </main>
  <!--Main layout-->


{% include "footer.html" %}



</body>

</html>
